node_modules
__pycache__
aws/*.lambda
aws/*.s3
aws/*.zip
aws/stage
venv/*
bug
bug/*

cpp/calcscore

# Cargo build output
rust/target/

# Rust/Cargo metadata files
rust/**/*.rs.bk

# If you use Rustfmt's backup files
rust/**/*.rs.bk

# If you generate WASM output
rust/**/*.wasm

# Optional: editor/OS junk
.DS_Store
*.swp
